* {
  margin: 0;
  box-sizing: border-box;
}

.mainContainer {
  background-color: gold;
  border: black solid 2px;
  height: 100vh;
  width: fit-content;
  margin: 10px;
  padding: 20px;
}

h1 {
  text-transform: capitalize;
  color: purple;
  padding: 10px;
  margin: 20px;
}

ul {
  color: blueviolet;
  font-weight: bolder;
  font-size: 20px;
}

.topBar {
  display: flex;

  .h2 {
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
  }
}
header {
  height: 10vh;
  width: 100vw;
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 50px;
}

header ul li {
  display: inline;
  padding: 40px;
  text-decoration: none;
  list-style: none;
}

li button {
  background-color: blanchedalmond;
  color: blueviolet;
  font-weight: bold;
  height: fit-content;
}

h2 {
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 10px;
}

footer {
  margin: 40px;
}

.starEmployees {
  list-style-type: none;
  display: grid;
  align-items: left;
  justify-content: left;
  margin-left: 100px;
}

img {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: black solid 2px;
  margin: 20px;
}

footer {
  align-items: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  align-items: center;
}

.moving {
  float: right;
  height: 200px;
  width: 200px;
  margin: 10px;
  position: absolute;
  margin-right: 1000px;
  margin-top: 50px;
  margin-bottom: 0px;
}
